# Big Panda Dataframe

Panda knows how to do lots of things with big data sets, so figure out how to create a panda dataframe.

In [1]:
%%capture
%matplotlib inline
import numpy as np
import sympy as sp
import pandas as pd
import matplotlib.pyplot as plt

# To get equations the look like, well, equations, use the following.
from sympy.interactive import printing
printing.init_printing(use_latex=True)
from IPython.display import display

# Tools for manipulating quaternions.
import Q_tool_devo as qtd;

The function range is a generator.

In [2]:
qha = qtd.QHArray()

qDf = pd.DataFrame(qha.range(q_start=qtd.QH([0, 0, 0, 0]), q_delta=qtd.QH([1, 0.1, 0.2, 0.3]), n_steps=1000))
qDf.tail(3)

                                                      0
998   (998, 99.7999999999986, 199.5999999999972, 299...
999   (999, 99.8999999999986, 199.7999999999972, 299...
1000  (1000, 99.9999999999986, 199.9999999999972, 30...